<?xml version="1.0"?>
<config>
    <modules>
        <Staempfli_ProductAttachment>
            <version>1.0.1</version>
        </Staempfli_ProductAttachment>
    </modules>
    <global>
        <models>
            <staempfli_productattachment>
                <class>Staempfli_ProductAttachment_Model</class>
                <resourceModel>staempfli_productattachment_resource</resourceModel>
            </staempfli_productattachment>
            <staempfli_productattachment_resource>
                <class>Staempfli_ProductAttachment_Model_Resource</class>
                <entities>
                    <file>
                        <table>staempfli_productattachment_file</table>
                    </file>
                </entities>
            </staempfli_productattachment_resource>
        </models>
        <resources>
            <staempfli_productattachment_setup>
                <setup>
                    <module>Staempfli_ProductAttachment</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </staempfli_productattachment_setup>
        </resources>
        <blocks>
            <staempfli_productattachment>
                <class>Staempfli_ProductAttachment_Block</class>
            </staempfli_productattachment>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tabs>Staempfli_ProductAttachment_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <staempfli_productattachment>
                <class>Staempfli_ProductAttachment_Helper</class>
            </staempfli_productattachment>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <staempfli_productattachment after="Mage_Adminhtml">Staempfli_ProductAttachment_Adminhtml</staempfli_productattachment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <staempfli_productattachment>
                    <files>
                        <default>Staempfli_ProductAttachment.csv</default>
                    </files>
                </staempfli_productattachment>
            </modules>
        </translate>
        <layout>
            <updates>
                <staempfli_productattachment>
                    <file>staempfli/productattachment.xml</file>
                </staempfli_productattachment>
            </updates>
        </layout>
    </adminhtml>
</config>
